In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
data_df = pd.read_csv('game_data/clean_data.csv')

In [3]:
data_df.head()

,CUST_SEX,CUST_AGE,BUYERPART,CAR_MODEL,CAR_AGE,CAR_PRICE,IS_LOAN,LOAN_PERIED,LOAN_AMOUNT,F_INSORNOT,ALL_BUYINS_N,DLRSI_CNT,GLASSBUYSEPARATE_CNT,SII_CNT,IS_LOST,ONCE_PAY
0,2,28.0,1,车型2,23.558438,360.277671,1,5.0,254.950976,1.0,1.0,0.0,0.0,0.0,0,254.558441
1,1,27.0,1,车型2,23.366643,360.277671,1,4.0,264.499527,1.0,2.0,0.0,0.0,0.0,0,244.622158
2,1,43.0,1,车型2,22.383029,360.277671,1,5.0,276.224546,1.0,1.0,0.0,1.0,0.0,0,231.300670
3,1,42.0,1,车型2,23.323808,346.121366,1,4.0,282.241032,1.0,2.0,1.0,0.0,0.0,0,200.349694
4,2,29.0,1,车型2,22.934690,360.277671,1,4.0,223.606798,1.0,2.0,0.0,0.0,0.0,0,282.488938

# ONE HOT 编码CAR_MODEL （车型）

In [4]:
data_df = pd.get_dummies(data_df,dummy_na=True,columns=['CAR_MODEL'])

In [5]:
data_df.head()

,CUST_SEX,CUST_AGE,BUYERPART,CAR_AGE,CAR_PRICE,IS_LOAN,LOAN_PERIED,LOAN_AMOUNT,F_INSORNOT,ALL_BUYINS_N,...,CAR_MODEL_车型13,CAR_MODEL_车型2,CAR_MODEL_车型3,CAR_MODEL_车型4,CAR_MODEL_车型5,CAR_MODEL_车型6,CAR_MODEL_车型7,CAR_MODEL_车型8,CAR_MODEL_车型9,CAR_MODEL_nan
0,2,28.0,1,23.558438,360.277671,1,5.0,254.950976,1.0,1.0,...,0,1,0,0,0,0,0,0,0,0
1,1,27.0,1,23.366643,360.277671,1,4.0,264.499527,1.0,2.0,...,0,1,0,0,0,0,0,0,0,0
2,1,43.0,1,22.383029,360.277671,1,5.0,276.224546,1.0,1.0,...,0,1,0,0,0,0,0,0,0,0
3,1,42.0,1,23.323808,346.121366,1,4.0,282.241032,1.0,2.0,...,0,1,0,0,0,0,0,0,0,0
4,2,29.0,1,22.934690,360.277671,1,4.0,223.606798,1.0,2.0,...,0,1,0,0,0,0,0,0,0,0

# 正例数据生成(IS_LOST = 1,流失数据)

In [6]:
data_df['IS_LOST'].value_counts()

0    39013
1    11587
Name: IS_LOST, dtype: int64

In [7]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

In [8]:
x = data_df.drop('IS_LOST',axis=1)
y = data_df['IS_LOST']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state = 0)

In [9]:
oversampler = SMOTE(random_state=0)
ov_x,ov_y = oversampler.fit_sample(x_train,y_train)

In [10]:
ov_x = pd.DataFrame(ov_x)
ov_y = pd.DataFrame(ov_y)

In [11]:
data_df = ov_x.join(ov_y)

In [13]:
data_df['IS_LOST'].value_counts()

1    27219
0    27219
Name: IS_LOST, dtype: int64

In [12]:
data_df.to_csv("game_data/preprocessing_data.csv",index=None)